/* 메인 */
#chat {
    border-radius: 20px;
    background-color: antiquewhite;
    text-align: center;
    width: 85%;
    max-width: 900px;
    /* min-width: 444px; */
    height: 600px;
    margin-bottom: 20px;
}

#chatInfo {
    margin: 15px;
}

/* 채팅 영역 */
#chatWindow {
    height: 85%;
    width: 100%;
    /* 일부러 지나간 후기는 안보이게 만들려고했으나
        메세지가 잘려나가는 현상있어서 y축 scroll만 만듬. 수정가능 */
    overflow-y: auto;
}

.output__user{
    border-radius: 10px;
    margin: 15px;
    background-color: floralwhite;
    display: flex;
}

.output__user__message{
    margin: 10px;
    color: gray;
}

.output__user__name{
    margin: 10px;
    font-weight: 700;
    color: #F28123;
}

.output__server__message{
    margin: 10px;
    color: gray;
}

.output__server{
    border-radius: 10px;
    margin: 15px;
}