body{
    width : 100%;
    height : 100%;
}

.btn-color-orange{
    background-color: #F28123;
    color: white;
    border-color: #F28123;
}

.header{
    position: fixed;
    background-color: #051922;
    height : 85.28px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#dropdownMenuButton1{
    background-color: #051922;
    border: none;
}

a:hover{
    color: #F28123 !important;
}

.Container{
    padding-top : 100px;
    width : 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.profile > svg{
    margin: 2em 0;
}

.profile{
    display: flex;
    padding-bottom: 4em;
    flex-direction: column;
    align-items: center;
}

form{
    width: 460px;
}

h5{
    font-weight: bold;
    padding-bottom: 15px;
}

hr{
    color: #F28123;
    width: 50px;
    height: 3px !important;
    opacity: 1;
    border: 0;
    margin: 1.5rem 0;
}

.change-pwd, .user_info, .reservation{
    padding-bottom: 6em;
}

.reservation{
    min-width: 460px;
}

#reserveBtn{
    display: none;
}

#reserveBtn:hover{
    background-color: white !important;
}

.filebox label {
    color: #fff;
    font-size: inherit;
    line-height: normal;
    cursor: pointer;
    border-radius: .25em;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
  
  .filebox label:hover {
    color: black;
  }

  .filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  @media screen and (max-width: 992px){
    .header{
        background-color: white;
        
    }

    .text-light{
        color: #051922 !important;
    }
    
    #logo{
        content: url('/images/logo-bright.png')
    }
}