<div class="footer">
    <div class="footer-contents">
        <div class="footer-title">About us</div>
        <div>저희는 OpenYearRound 동아리 소속의</div>
        <div>김재호, 문지원, 박현우입니다.</div>
    </div>
    <div class="footer-contents">
        <div class="footer-title">Get in Touch</div>
        <div>세종대학교 2층 동아리실</div>
        <div>support@OpenYearRound.com</div>
        <div>카카오톡 플러스친구 OpenYearRound</div>
    </div>
    <div class="footer-contents">
        <div class="footer-title">Pages</div>
        <ul>
            <% if (!info) { %> 
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register_choice">Register</a></li>
            <% } %>

            <% if (info) { %>
                <% if (user) { %>
                    <li><a href="/">Home</a></li>
                    <li><a href="/mypage">Mypage</a></li>
                    <li><a href="/locker">Reservation</a></li>
                <% } %>
                <% if (admin) { %>
                    <li><a href="/">Home</a></li>
                    <li><a href="/mypage">Mypage</a></li>
                    <li><a href="/locker">Create</a></li>
                <% } %>
            <% } %>
        </ul>
    </div>
    <div class="footer-contents">
        <div class="footer-title">문의하기</div>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">이메일</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="답변받을 이메일 주소를 입력하세요.">
                <small id="emailHelp" class="form-text text-muted">문의 내용은 철저한 보안이 유지됩니다.</small>
            </div>
            <div class="form-group ">
                <label for="exampleInputPassword1">문의내용</label>
                <!-- <input type="textarea" class="form-control question-contents" id="exampleInputPassword1"
                    placeholder="문의 내용을 입력해 주세요."> -->
                <textarea name="question" class="form-control question-contents" id="" cols="30" rows="10" 
                placeholder="문의 내용을 입력해 주세요."></textarea>
            </div>
            <button type="submit" class="btn btn-color-orange">제출하기</button>
        </form>

    </div>
</div>

<!-- enter 막기 -->
<!-- <script>
    document.addEventListener('keydown', function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
        };
    }, true);
</script> -->