<div class="footer">
    <div class="footer-contents">
        <div class="footer-title">About us</div>
        <hr>
        <div>OpenYearRound 동아리 소속</div>
        <div>김재호, 문지원입니다.</div>
    </div>
    <div class="footer-contents">
        <div class="footer-title">Get in Touch</div>
        <hr>
        <div>세종대학교 2층 동아리실</div>
        <div>support@OpenYearRound.com</div>
        <div>카카오톡 플러스친구 OpenYearRound</div>
    </div>
</div>