<div class="login-form">
    <form method="POST" id="admin-login" action="/loginProcessForAdmin" onsubmit="return checkInput(this)">
        <div class="mb-3">
            <h3>관리자 로그인</h3>
            <label for="exampleInputId2" class="form-label">학번</label>
            <input type="text" class="form-control" name="adminId" id="adminId">
            <div id="idHelp2" class="form-text"></div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword2" class="form-label">비밀번호</label>
            <input type="password" class="form-control" name="adminPassword" id="adminPassword">
            <div id="pwdHelp2" class="form-text"></div>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck2">
            <label class="form-check-label" for="exampleCheck2">로그인 유지하기</label>
        </div>
        <button type="submit" class="btn btn-color-orange admin-submit" id="admin-login">로그인</button>
    </form>
</div>