<div class="login-form">
    <form method="POST" id="admin-login" action="/loginProcessForAdmin" onsubmit="return checkInput(this)">
        <div class="mb-3">
            <h3 style="text-align: center;">관리자 로그인</h3>
        </div>
        <div class="mb-3">
            <label for="exampleInputId2" class="form-label">학번</label>
            <div id="idHelp2" class="form-text" style="float: right;"></div>
            <input type="text" class="form-control" name="adminId" id="adminId">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword2" class="form-label">비밀번호</label>
            <div id="pwdHelp2" class="form-text" style="float: right;"></div>
            <input type="password" class="form-control" name="adminPassword" id="adminPassword">
        </div>
        <div class="mb-3 d-grid gap-2">
            <button type="submit" class="btn btn-color-orange" id="admin-login">로그인</button>
        </div>
        <div class="mb-3">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-label" for="exampleCheck1">로그인 유지</label>
            <!-- <a href="#" class="form-text" style="float: right;">비밀번호 찾기</a> -->
            <button type="button" class="form-text" onclick="sorry()" style="float: right; background-color: transparent; border: none;">비밀번호 찾기</button>
        </div>
    </form>
</div>