<div class="login-form">
    <form method="POST" action="/index_user" id = "user-login" onsubmit="return checkInput(this)">
        <div class="mb-3">
            <h3><%=user%> 로그인</h3>
            <label for="exampleInputEmail1" class="form-label">이메일 주소</label>
            <input type="text" class="form-control" id="userEmail">
            <div id="emailHelp1" class="form-text"></div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">비밀번호</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">로그인 유지하기</label>
        </div>
        <button type="submit" class="btn btn-color-orange user-submit" id="user-login">로그인</button>
    </form>
</div>