<div class="mb-3">
    <div class="row">
      <div class="col">
        <input class="form-check-input" type="radio" name="radioCheck" id="radioUser" value="사용자" onclick="getValue(event); registerIdReset()">
        <label class="form-check-label" for="radioUser">
          사용자
        </label>
      </div>      
      <div class="col">
        <input class="form-check-input" type="radio" name="radioCheck" id="radioAdmin" value="관리자" onclick="getValue(event); registerIdReset()">
        <label class="form-check-label" for="radioAdmin">
          관리자
        </label>
      </div>
    </div>
</div>
  <div class="mb-3">
    <label for="registerId" class="form-label">학번</label>
    <label id="registerIdHelp1" class="form-text" style="color: green; float:right; display:none;">중복 확인 완료!</label>
    <label id="registerIdHelp2" class="form-text" style="color: red; float:right; display:none;">이미 존재하는 학번입니다.</label>
    <div class="input-group mb-3">
      <input type="text" class="form-control" name="id" id="registerId" onkeyup="registerIdReset()">
      <button type="button" class="btn btn-outline-warning" id="idCheckBtn1" onclick="idCheck()">중복확인</button>
    </div>
  </div>
<div class="mb-3">
    <label for="registerName" class="form-label">이름</label>
    <input type="text" class="form-control" name="name" id="registerName" aria-describedby="emailHelp">
</div>
<div class="mb-3">
    <label for="registerEmail" class="form-label">이메일</label>
    <label id="registerEmailHelp1" class="form-text" style="color: green; float:right; display:none;">중복 확인 완료!</label>
    <label id="registerEmailHelp2" class="form-text" style="color: red; float:right; display:none;">이미 존재하는 이메일입니다.</label>
    <div class="input-group mb-3">
      <input type="text" class="form-control" name="email" id="registerEmail" onkeyup="registerEmailReset()">
      <span class="input-group-text" id="basic-addon2">@sju.ac.kr</span>
      <button class="btn btn-outline-warning" type="button" id="emailCheckBtn1" onclick="emailCheck()">중복확인</button>
      <!-- <button class="btn btn-outline-warning" type="button" id="emailCheckBtn2" onclick="authEmail()">인증하기</button> -->
    </div>
</div>
<div class="mb-3">
    <label for="registerPhone" class="form-label">전화번호</label>
    <input type="text" class="form-control" name="phonenum" id="registerPhone" placeholder="- 없이 입력해주세요.">
</div>
<div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">비밀번호</label>
    <label id="passwordHelp1" class="form-text">8자 이상 입력</label>
    <input type="password" class="form-control" name="password" id="password1"
        onkeyup="checkPassword(); checkPasswordAgain()">
</div>
<div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">비밀번호 확인</label>
    <label id="passwordHelp2" class="form-text" style="color: green; display:none;">동일합니다</label>
    <label id="passwordHelp3" class="form-text" style="color: red; display:none;">동일하지 않습니다</label>
    <input type="password" class="form-control" id="password2" onkeyup="checkPasswordAgain()">
</div>
<div class="mb-3">
    <label for="registerTeam" class="form-label">소속</label>
    <label class="form-text">학과 또는 동아리</label>
    <input type="text" class="form-control" name="team" id="registerTeam" aria-describedby="emailHelp">
</div>