<div class="login-form">
    <div class="mb-3">
        <h3>관리자 회원가입</h3>
        <div>관리자는 사물함을 관리할 수 있습니다.</div>
        <div>사물함을 추가, 수정, 및 삭제하고 싶으시다면 관리자로 가입해 주세요.</div>
    </div>
    <button type="button" class="btn btn-color-orange admin-submit"
        onclick="location.href='/register_for_admin'">가입하기</button>
</div>