<!DOCTYPE html>
<html lang="ko">

<head>
  <%-include('./layout/import_head')%>
  <link href="./stylesheets/index.css" rel="stylesheet" />
</head>

<body>
  <!-- <%-include('./layout/header_mypage')%> -->
  <nav class="navbar navbar-expand-lg navbar-light position-fixed header">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="/"><img src="/images/logo-dark.png" alt="logo" style="width:220px;" id="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="nav-items">
        </ul>
        <div class="dropdown" style="text-align: right;">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              마이페이지
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" id="dropdown">
              <li><a class="dropdown-item" href="/mypage_for_user"><b><%=userName%>님</b></a></li>
              <li><a class="dropdown-item" href="/mypage_for_user">회원정보 수정</a></li>
              <li><a class="dropdown-item" href="/mypage_for_user">사물함 신청</a></li>
              <li><a class="dropdown-item" href="/mypage_for_user">사물함 관리</a></li>
            </ul>
          </div>
        <span class="navbar-text text-light register">
            <a class="nav-link active text-light" aria-current="page" href="/logout" style="text-align: right;">로그아웃</a>
        </span>
      </div>
    </div>
  </nav>
  
  <div class="Container">
    <div class="intro">
      <div class="title">
        사물함 예약을 쉽게 해 보세요!
      </div>
      <div class="title-buttons">
        <button type="button" class="btn btn-color-orange">시작하기</button>
        <button type="button" class="btn btn-success">더 알아보기</button>
      </div>
    </div>
    <div class="card-outer">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>

    <div class="title">Our Project!</div>
    <div class="card-outer">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
  </div>
  <%-include('./layout/footer_for_user')%>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <!-- <script src="./javascripts/dropdown.js"></script> -->
  <script src="./javascripts/nav_items.js"></script>
</body>
</html>