<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>사물함 프로젝트</title>
  <link href="/stylesheets/index.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light position-fixed header">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="#">세종 LOCKER</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Pricing</a>
          </li>
        </ul>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            마이페이지
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="/mypage_user"><b>박현우님</b></a></li>
            <li><a class="dropdown-item" href="/locker_for_user">사물함 신청</a></li>
            <li><a class="dropdown-item" href="#">내 사물함 관리</a></li>
            <li><a class="dropdown-item" href="#">대기열 확인</a></li>
            <li><a class="dropdown-item" href="#">회원정보 수정</a></li>
          </ul>
        </div>
        <span class="navbar-text text-light register">
          <a class="nav-link active text-light" aria-current="page" href="/">로그아웃</a>
        </span>
      </div>
    </div>
  </nav>

  <div class="Container">
    <div class="intro">
      <div class="title">
        사물함 예약을 쉽게 해 보세요!
      </div>
      <div class="title-buttons">
        <button type="button" class="btn btn-primary">시작하기</button>
        <button type="button" class="btn btn-success">더 알아보기</button>
      </div>
    </div>
    <div class="card-outer">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>

    <div class="title">Our Project!</div>
    <div class="card-outer">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer-contents">
      <div class="footer-title">About us</div>
      <div>저희는 OpenYearRound 동아리 소속의</div>
      <div>김재호, 문지원, 박현우입니다.</div>
    </div>
    <div class="footer-contents">
      <div class="footer-title">Get in Touch</div>
      <div>세종대학교 2층 동아리실</div>
      <div>support@OpenYearRound.com</div>
      <div>카카오톡 플러스친구 OpenYearRound</div>
    </div>
    <div class="footer-contents">
      <div class="footer-title">Pages</div>
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>Shop</li>
        <li>News</li>
        <li>Contact</li>
      </ul>
    </div>
    <div class="footer-contents">
      <div class="footer-title">문의하기</div>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">이메일</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="답변받을 이메일 주소를 입력하세요.">
          <small id="emailHelp" class="form-text text-muted">문의 내용은 철저한 보안이 유지됩니다.</small>
        </div>
        <div class="form-group ">
          <label for="exampleInputPassword1">문의내용</label>
          <input type="text" class="form-control question-contents" id="exampleInputPassword1" placeholder="문의 내용을 입력해 주세요.">
        </div>
        <button type="submit" class="btn btn-primary">제출하기</button>
      </form>

    </div>
  </div>
</body>
</html>