<!doctype html>
<html lang="ko">

<head>
  <%-include('./layout/import_head')%>
  
  <link rel="stylesheet" href="./stylesheets/locker_for_admin.css">
  <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=58a38050aee1b3318bc8da2f739057bd&libraries=services"></script>
</head>

<body>
  <%-include('./layout/header_mypage')%>

  <div class="Container">
    <div class='locker-form'>
      <h1>관리자 사물함 생성 화면</h1>
      <div class='mb-3'>
        <select class="form-select" aria-label="Default select example" id="select-place">
        </select>
      </div>
      <div id="map" class='mb-3' style="width:100%;height:350px;"></div>
      <!-- <script src="/javascripts/select_place.js"></script> -->

      <div class="mb-3 form-group">
        <label for="exampleInputEmail1">사물함 이름을 정해주세요.</label>
        <input type="text" class="form-control" id="locker-name" placeholder="예시 : 컴퓨터공학과 사물함1">
      </div>
      
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">사용자에게 전할 공지사항</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
          placeholder='예시 : 사물함은 B1층 B105강의실 옆에 있습니다.'></textarea>
      </div>

      <div class='mb-3'>
        <div class="mb-3 form-group">
          <label for="exampleInputEmail1">사물함의 높이를 정해주세요.</label>
          <input type="text" class="form-control" id="height" aria-describedby="emailHelp" placeholder="예시 : 5">
        </div>
        <div class="mb-3 form-group">
          <label for="exampleInputPassword1">한 줄에 존재할 사물함의 갯수를 정해주세요.</label>
          <input type="text" class="form-control" id="width" placeholder="예시 : 4">
        </div>
        <button class="btn btn-primary" id="make-locker">만들기</button>
      </div>

      <table class="table" id="table"></table>
      <div>회색은 제외되게 하려고 합니다. (한번 더 클릭시 색깔 돌아옴)</div>

    </div>
  </div>

  <!-- Optional JavaScript; choose one of the two! -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="./javascripts/make_locker.js"></script>
  <!-- <script src="./assets/js/locker_for_admin.js"></script> -->
  <script src="./javascripts/dropdown.js"></script>
  <script src="./javascripts/nav_items.js"></script>
  <script src="./javascripts/select_place.js"></script>
</body>

</html>