<!doctype html>
<html lang="ko">
  <head>
    <%-include('./layout/import_head')%>
    <link rel="stylesheet" href="./stylesheets/register_choice.css">

  </head>
  <body>
    <%-include('./layout/header')%>
    <div class="Container">
        <!-- register form -->
        <%-include('./layout/register_for_user')%>
        <%-include('./layout/register_for_admin')%>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
  
</html>
