<!doctype html>
<html lang="ko">

<head>
  <%-include('./layout/import_head')%>
    <link rel="stylesheet" href="./stylesheets/register.css">
</head>

<body>
  <%-include('./layout/header')%>
    <div class="Container">
      <!-- register form -->
      <div class="login-form">
        <form id="submitForm" method="POST" action="/registerProcess" onsubmit="return checkForm()">
          <%-include('./layout/register_form')%>
          <button type="submit" class="btn btn-color-orange" style="float: right;">가입하기</button>
        </form>
      </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="./javascripts/register.js"></script>
</body>

</html>